
@model System.String
@{
    ViewData["Title"] = "Add credit card";
}

<h2>Add credit card</h2>

<script type="text/javascript" src="https://test.adyen.com/hpp/cse/js/8215288919213922.shtml">

</script>
<form method="POST" action="/Home/AddCreditCard" id="adyen-encrypted-form">
    number<input type="text" size="20" data-encrypted-name="number" value="4988 4388 4388 4305" /><br/>
    holderName<input type="text" size="20" data-encrypted-name="holderName" /><br/>
    expiryMonth<input type="text" size="2" data-encrypted-name="expiryMonth" value="08" /><br/>
    expiryYear <input type="text" size="4" data-encrypted-name="expiryYear" value="2018" /><br/>
    cvc<input type="text" size="4" data-encrypted-name="cvc" value="737"/><br/>
    <input type="hidden" value="@Model" data-encrypted-name="generationtime" /><br/>
    <input type="submit" value="Pay" />
</form>
<script>
    // The form element to encrypt.
    var form = document.getElementById('adyen-encrypted-form');
    // See https://github.com/Adyen/CSE-JS/blob/master/Options.md for details on the options to use.
    var options = {
        name: "AdyenEncryptedData"
    };
    // Bind encryption options to the form.
    adyen.createEncryptedForm(form, options);
</script>


