
@model System.String
@{
    ViewData["Title"] = "Add credit card";
}

<h2>Add credit card</h2>

<script type="text/javascript" src="https://test.adyen.com/hpp/cse/js/8215288919213922.shtml">

</script>
<form method="POST" action="/Home/AddCreditCard" id="adyen-encrypted-form">
    number<input type="text" size="20" data-encrypted-name="number" value="4988 4388 4388 4305" /><br />
    holderName<input type="text" size="20" data-encrypted-name="holderName" /><br />
    expiryMonth<input type="text" size="2" data-encrypted-name="expiryMonth" value="08" /><br />
    expiryYear <input type="text" size="4" data-encrypted-name="expiryYear" value="2018" /><br />
    cvc<input type="text" size="4" data-encrypted-name="cvc" value="737" /><br />
    <input type="hidden" value="@Model" data-encrypted-name="generationtime" /><br />
    Contract type [how alphorm will use your credit card RECURRING]<input type="text" name="Contract" value="ONECLICK" /><br />
    <input type="submit" value="Add credit card" />
</form>
<script>
    var form = document.getElementById('adyen-encrypted-form');
    var options = {
        name: "AdyenEncryptedData"
    };
    adyen.createEncryptedForm(form, options);
</script>


