
@{
    ViewData["Title"] = "Refund";
}

<h2>Refund</h2>

<form method="POST" action="/Home/refund">
    Psp reference : <input type="text" name="PspReference" /> <br />
    Amount : <input type="text" name="Amount" /> (EUR) <br />
    <input type="submit" value="Refund" />
</form>



